name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm run lint

      - name: Type-check
        run: pnpm exec tsc --noEmit

      - name: Test
        run: pnpm test

  # build:
  #   name: Build
  #   needs: [test]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v6

  #     - uses: pnpm/action-setup@v4

  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version-file: .node-version
  #         cache: pnpm

  #     - name: Install Rust toolchain
  #       uses: dtolnay/rust-toolchain@stable

  #     - name: Install Linux dependencies
  #       run: |
  #         sudo apt-get update
  #         sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

  #     - run: pnpm install --frozen-lockfile

  #     - run: pnpm run tauri build --no-bundle

  #     - name: Upload Built Artifact
  #       uses: actions/upload-artifact@v6
  #       with:
  #         name: src-tauri/target/release/openapi-editor
  #         path: OpenAPI-Editor
